{% extends "base.html.twig" %}

{% block body %}

<section style="margin-bottom: 1em;">
	<a href="/prepare" class="btn btn-success">Sadalīt komandas divīzijās</a>
	<div class="text-muted">Stratēģija: Saraksts dalīts uz pusēm</div> 
</section>

<section style="margin-bottom: 1em;">
	<h3>Divīzijas spēle</h3>

	{% set playsItems = plays.division %}
	{% set ranksItems = ranks.division %}

	{% if playsItems[0] is not empty and ranksItems[0] is empty %}
	<a href="/play1" class="btn btn-success">Spēlēt</a>
	{% endif %}

	<table class="table">
	<tr>
		<td>
			<h6>Divīzija 1</h6>
			<table class="table">
			{% for one in playsItems[0] %}
				<tr>
					<td>{{ one.getTeam1().getTeam() }}</td>
					<td>{{ one.getTeam2().getTeam() }}</td>
					<td>{{ one.getTeamResult1() }} : {{ one.getTeamResult2() }}</td>
				</tr>
			{% endfor %}
			</table>
		</td>
		<td>
			<h6>Divīzija 2</h6>
			<table class="table">
			{% for one in playsItems[1] %}
				<tr>
					<td>{{ one.getTeam1().getTeam() }}</td>
					<td>{{ one.getTeam2().getTeam() }}</td>
					<td>{{ one.getTeamResult1() }} : {{ one.getTeamResult2() }}</td>
				</tr>
			{% endfor %}
			</table>			
		</td>
		<td>
			<h6>Score</h6>

			<h6>Divīzija 1</h6>
			<table class="table">
			{% for one in ranksItems[0] %}
				<tr>
					<td>{{ one.getTeam().getTeam() }}</td>
					<td>{{ one.getScore() }}</td>
				</tr>
			{% endfor %}
			</table>

			<h6>Divīzija 2</h6>
			<table class="table">
			{% for one in ranksItems[1] %}
				<tr>
					<td>{{ one.getTeam().getTeam() }}</td>
					<td>{{ one.getScore() }}</td>
				</tr>
			{% endfor %}
			</table>

		</td>
	</tr>
	</table>

</section>


<section style="margin-bottom: 1em;">
	<h3>Play Off</h3>

	{% set playsItems = plays.playoff %}
	{% set ranksItems = ranks.playoff %}

	{% if playsItems is not empty and ranksItems is empty %}
	<a href="/play2" class="btn btn-success">Spēlēt</a>
	{% endif %}

	<table class="table">
	<tr>
		<td>
			<h6>Rezultāti</h6>

			<table class="table">
			{% for one in playsItems %}
				<tr>
					<td>{{ one.getTeam1().getTeam() }}</td>
					<td>{{ one.getTeam2().getTeam() }}</td>
					<td>{{ one.getTeamResult1() }} : {{ one.getTeamResult2() }}</td>
				</tr>
			{% endfor %}
			</table>

		</td>
		<td>
			<h6>Score</h6>

			<table class="table">
			{% for one in ranksItems %}
				<tr>
					<td>{{ one.getTeam().getTeam() }}</td>
					<td>{{ one.getScore() }}</td>
				</tr>
			{% endfor %}
			</table>

		</td>
	</tr>
	</table>

</section>


<section style="margin-bottom: 1em;">
	<h3>Semi final</h3>

	{% set playsItems = plays.semi %}
	{% set ranksItems = ranks.semi %}

	{% if playsItems is not empty and ranksItems is empty %}
	<a href="/play3" class="btn btn-success">Spēlēt</a>
	{% endif %}

	<table class="table">
	<tr>
		<td>
			<h6>Rezultāti</h6>

			<table class="table">
			{% for one in playsItems %}
				<tr>
					<td>{{ one.getTeam1().getTeam() }}</td>
					<td>{{ one.getTeam2().getTeam() }}</td>
					<td>{{ one.getTeamResult1() }} : {{ one.getTeamResult2() }}</td>
				</tr>
			{% endfor %}
			</table>

		</td>
		<td>
			<h6>Score</h6>

			<table class="table">
			{% for one in ranksItems %}
				<tr>
					<td>{{ one.getTeam().getTeam() }}</td>
					<td>{{ one.getScore() }}</td>
				</tr>
			{% endfor %}
			</table>

		</td>
	</tr>
	</table>

</section>


<section style="margin-bottom: 1em;">
	<h3>Final</h3>

	{% set playsItems = plays.final %}
	{% set ranksItems = ranks.final %}

	{% if playsItems is not empty and ranksItems is empty %}
	<a href="/play4" class="btn btn-success">Spēlēt</a>
	{% endif %}

	<table class="table">
	<tr>
		<td>
			<h6>Rezultāti</h6>

			<table class="table">
			{% for one in playsItems %}
				<tr>
					<td>{{ one.getTeam1().getTeam() }}</td>
					<td>{{ one.getTeam2().getTeam() }}</td>
					<td>{{ one.getTeamResult1() }} : {{ one.getTeamResult2() }}</td>
				</tr>
			{% endfor %}
			</table>

		</td>
		<td>
			<h6>Score</h6>

			<table class="table">
			{% for i,one in ranksItems %}
				<tr {% if i == 0 %}class="bg-success text-white"{% endif %}>
					<td>{{ one.getTeam().getTeam() }}</td>
					<td>{{ one.getScore() }}</td>
				</tr>
			{% endfor %}
			</table>

		</td>
	</tr>
	</table>

</section>

{% endblock %}

